.container{
  padding: 10px;
}

.heading{
  text-align: center;
}

.mailbox{
  display: block;
  margin: auto;
  width: fit-content;
}

.inputEmail{
  height: 40px;
  min-width: 600px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 20px;
}

.inputText{
  min-height: 200px;
  min-width: 600px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.buttonSend{
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 2px 2px 3px gray;
  cursor: pointer;
}

